# Node.js
node_modules/
dist/
.env
*.log
npm-debug.log*
.DS_Store
*.tsbuildinfo

# VSCode
.vscode/

# Test outputs
coverage/

# OS
Thumbs.db
Desktop.ini

# Build artifacts
*.tgz

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.local
